<!DOCTYPE html>
<html th:replace="~{layout/masterLayout:: layout(~{::main})}"  xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <div class="container mt-5 p-5">
    <div class="rol">
      <div class="col">
      <div class="card">
        <div class="card-header">
          <h3>Customer Tables</h3>
        </div>
        <div class="card-body">
          <div th:replace="fragment/customer-table.html :: customerTable">
          </div>
          </div>

        </div>
        <a th:href="@{/customers/customer-form}" class="btn btn-primary my-5">Create Customer</a>
      </div>
    </div>
  </div>
</main>
</body>
</html>